// ########################
// GLOBAL STYLES/LAYOUT
// ########################

// ===================
// VARIABLES
// ===================

$font-color: #FFF;
$light-color: #DDD;
$bg-color: #2C2D2E;
$darker-bg-color: #101010;
$target-bg-color: #484343;
$action-color: #0193FF;
$researching: #C1822C;
$pending-approval: #245FA4;
$approved: #48A843;
$declined: #D03B3B;

$font-stack: 'Yantramanav', 'HelveticaNeue', 'Helvetica Neue', 'Helevtica', 'Lucida Grande', 'Trebuchet MS', sans-serif;

$transition: all 175ms ease-in-out;


// ===================
// EXTENDED CLASSES
// ===================

.fixed {
  width: 100%;
  position: fixed;
}

.flex-center {
  display: flex;
  align-items: center;
}


// ===================
// ANIMATIONS
// ===================

// page transitions
.fade.ng-enter {
  transition: 350ms linear all;
  opacity: 0;

}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  transition: 0ms linear all;
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}


// ===================
// GLOBAL TAGS
// ===================

* {
  box-sizing: border-box;
}

// html, body {
//   height: 100%;
// }

// html {
//   font-size: 85%;
// }

body {
  color: $font-color;
  background: $bg-color;
  font-family: $font-stack;
  font-size: 1.1rem;
  font-weight: 300;
}

html, body {
  position: relative;
}

hr { border: 1px solid gray; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}
h2 {font-size: 2.369em;}
h3 {font-size: 1.777em;}
h4 {font-size: 1.333em;}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
}

p {margin-bottom: 1.3em;}

a {
  display: block;
  text-decoration: none;
}

a:hover {
  color: inherit;
}


// ########################
// SPECIFIC STYLES/LAYOUT
// ########################

// ===================
// REPEATED RULES
// ===================

.container {
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
}

// ===================
// HEADER/FOOTER
// ===================

header {
  @extend .fixed;
  top: 0;
  padding: 10px 0;
  z-index: 1;
  text-align: center;
  background: $darker-bg-color;
}

footer {
  padding: 10px 0;
  text-align: right;
  background: $darker-bg-color;
}


// ===================
// INDIVIDUAL PAGES
// ===================

// ------ HOME ------

.targets {
  margin: 90px 0;
}

.target {
  margin-bottom: 1rem;
  padding: 20px;
  background: $target-bg-color;
}

.target-tab {
  @extend .flex-center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.target-name {
  display: inline-block;
  font-weight: 100;
  margin: 0;
}

.target-info {
  padding: 1rem;
  li { margin-bottom: 1.5rem; }
  li:last-of-type { margin-bottom: 0; }
  h4 { margin: 0; }
}

.category {
  span {
    display: block;
    font-style: italic;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  p { margin: 0; }
}

.status {
  display: inline-block;
  padding: 5px;
}

.key-contacts {
  list-style: circle;
  padding-left: 20px;

  li { margin: 0; }
}




// ------ WORK PAGE ------


// ------ PROJECT PAGE ------


// ------ SLIDESHOW PAGE ------


// ------ ABOUT PAGE ------


// ------ MISC PAGE ------




// ===================
// UTILITY CLASSES
// ===================

.fl { float: left; }
.fr { float: right; }
.cf::after {
  content: "";
  display: block;
  clear: both;
}
.researching { background: $researching; }
.pending-approval { background: $pending-approval; }
.approved { background: $approved; }
.declined { background: $declined; }


// ########################
// MEDIA QUERIES
// ########################

@media screen and (min-width: 340px) {}

@media screen and (min-width: 420px) {}

@media screen and (min-width: 620px) {}

@media screen and (min-width: 1020px) {}
