.test {
  background: red !important; }

.fixed, header {
  width: 100%;
  position: fixed; }

.flex-center, header .container, header .links, .target-tab, .key-contact-field {
  display: flex;
  align-items: center; }

.fade.ng-enter {
  transition: 350ms linear all;
  opacity: 0; }

.fade.ng-enter.ng-enter-active {
  opacity: 1; }

.fade.ng-leave {
  transition: 0ms linear all;
  opacity: 1; }

.fade.ng-leave.ng-leave-active {
  opacity: 0; }

.target.ng-enter,
.target.ng-leave {
  transition: all 250ms ease-in-out; }

.target.ng-enter,
.target.ng-leave.ng-leave-active {
  opacity: 0; }

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity: 1; }

* {
  box-sizing: border-box; }

body {
  color: #FFF;
  background: #1e1f1f;
  font-family: "Yantramanav", "HelveticaNeue", "Helvetica Neue", "Helevtica", "Lucida Grande", "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  font-weight: 300; }

html, body {
  position: relative; }

hr {
  border: 1px solid #5c5e60; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.157em; }

h2 {
  font-size: 2.369em; }

h3 {
  font-size: 1.777em; }

h4 {
  font-size: 1.333em; }

ul {
  list-style: none;
  padding: 0; }

img {
  display: block; }

p {
  margin-bottom: 1.3em; }

a {
  display: block;
  text-decoration: none; }

a:hover {
  color: inherit; }

button {
  padding: 10px 20px;
  border: 0;
  outline: none;
  background: #FFF;
  font-family: "Yantramanav", "HelveticaNeue", "Helvetica Neue", "Helevtica", "Lucida Grande", "Trebuchet MS", sans-serif;
  font-weight: 300;
  color: #1e1f1f;
  cursor: pointer; }

::selection {
  background: #0da9ff;
  color: #FFF; }

::-moz-selection {
  background: #0da9ff;
  color: #FFF; }

.container {
  width: 70%;
  max-width: 960px;
  margin: 0 auto; }

.page-wrapper {
  margin: 90px 0 40px; }

header {
  top: 0;
  padding: 10px 0;
  z-index: 1;
  text-align: center;
  background: #1e1f1f; }
  header .container {
    justify-content: space-between; }
  header .links {
    flex-direction: row; }
  header .home {
    padding: 10px 20px;
    color: #FFF; }
  header button {
    background: #0da9ff;
    color: #FFF; }

footer {
  padding: 10px 0;
  text-align: right;
  background: #1e1f1f; }

.signature {
  color: #0da9ff;
  display: inline-block; }

.target {
  margin-bottom: 1rem;
  padding: 20px;
  background: #3a3b3c; }

.target-tab {
  justify-content: space-between;
  margin-bottom: 1rem; }

.target-name {
  display: inline-block;
  font-weight: 100;
  margin: 0; }

.target-info {
  padding: 1rem; }
  .target-info li {
    margin-bottom: 1.5rem; }
  .target-info li:last-of-type {
    margin-bottom: 0; }
  .target-info h4 {
    margin: 0; }

.category span {
  display: block;
  font-style: italic;
  margin-bottom: 0.5rem;
  font-size: 1rem; }
.category p {
  margin: 0; }

.status {
  display: inline-block;
  padding: 5px; }

.key-contacts {
  list-style: circle;
  padding-left: 20px; }
  .key-contacts li {
    margin: 0; }

.none-message {
  text-align: center;
  padding: 100px 0; }

.new-target-form {
  max-width: 400px;
  margin: 0 auto; }
  .new-target-form button {
    margin-left: 5px; }

.form-control {
  margin-bottom: 1rem; }
  .form-control label {
    display: block;
    padding-left: 5px; }
  .form-control input,
  .form-control select,
  .form-control textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 5px solid #1e1f1f; }
  .form-control input:focus,
  .form-control select:focus,
  .form-control textarea:focus {
    border: 5px solid #0da9ff; }

.key-contact-field {
  justify-content: space-between; }
  .key-contact-field input {
    max-width: 260px;
    width: 100%; }

.key-contact {
  margin-right: 5px;
  padding: 5px 10px;
  display: inline-block;
  background: #3a3b3c; }

.delete-button {
  margin: 0 5px 0 0;
  padding: 5px 10px; }

.fl {
  float: left; }

.fr {
  float: right; }

.cf::after {
  content: "";
  display: block;
  clear: both; }

.researching {
  background: #C1822C; }

.pending-approval {
  background: #245FA4; }

.approved {
  background: #48A843; }

.declined {
  background: #D03B3B; }

/*# sourceMappingURL=styles.css.map */
