<ul class="targets">
    <li class="target" ng-repeat="target in targets">
        <div class="target-tab">
            <h3 class="target-name">{{target.name}}</h3>
            <div class="buttons">
                <button type="button" ng-click="edit(target)">Edit</button>
                <button type="button" ng-click="delete(target)">Delete</button>
            </div>
        </div>
        <hr>
        <div class="target-info">
            <ul>
                <li class="category">
                    <span>Current status:</span>
                    <p ng-class="{'pending-approval': target.status === 'pending approval', 'researching': target.status === 'researching', 'approved': target.status === 'approved', 'declined': target.status === 'declined'}" class="status">{{target.status}}</p>
                </li>
                <li class="category">
                    <span>Description:</span>
                    <p>{{target.companyInfo}}</p>
                </li>
                <li class="category">
                    <span>Key contacts:</span>
                    <ul class="key-contacts">
                        <li ng-repeat="contact in target.keyContacts">{{contact}}</li>
                    </ul>
                </li>
                <li class="category">
                    <span>Financial performance:</span>
                    <p>{{target.financialPerformance}}</p>
                </li>
            </ul>

        </div>
    </li>
</ul>
